<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<div class="container-fluid">
    <div class="row mh-100vh">
        <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
            <div class="m-auto w-lg-75 w-xl-50">
                <h2 class="text-info font-weight-light mb-5">Login</h2>
                <%if(forLogin==="again"){%>
                <p class="text-info font-weight-light mb-5">Please Log In again with your new credentials</p>
                <%}%>
                <%if(forLoginPromt==="yes"){%>
                    <p class="text-info font-weight-light mb-5">Username or password is invalid</p>
                <%}%>

                <form method="post" action="/login">
                    <div class="form-group"><label class="text-secondary">Email</label><input name="username" class="form-control" type="text" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email"></div>
                    <div class="form-group"><label class="text-secondary">Password</label><input name="password" class="form-control" type="password" required=""></div><button class="btn btn-info mt-2" type="submit">Log In</button></form>
                <p class="mt-3 mb-0"><a class="text-info small" href="/register">Create a new account</a></p>
                <p class="mt-3 mb-0"><a class="text-info small" href="/reset">Forgot my Password</a></p>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background-image:url(&quot;https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&amp;w=1000&amp;q=80&quot;);background-size:cover;background-position:center center;">
            <p class="ml-auto small text-dark mb-2"><em>Photo by&nbsp;</em><a class="text-dark" href="https://unsplash.com/photos/v0zVmWULYTg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank"><em>Aldain Austria</em></a><br></p>
        </div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>